
.footer {
    .footer-form {
        @media(min-width: 640px) {
            margin: 0 0 0 0;
           
          }
    }
 .footer-cell {
     display: flex;
     justify-content: center;
     @media(min-width: 640px) {
        justify-content: flex-start;
     }
 }
    @media(max-width: 639px) {
        background: #F7F7F7; 
    }
    position: relative;
    // margin-top: 95px;
    .small-6-1 {
        padding-right: 25px;
    }
    .small-6-2 {
        padding-left: 25px;
    }
    .footer-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 15%;
        padding-bottom: 2rem;
        @media (min-width: 640px){
            padding-bottom: 0;
        }
        .break-footer {
            margin-bottom: 15px;
        }
    }
    .logo-box {
        margin-bottom: 38px;
    }
    .background-footer {
        background-color: #F7F7F7;
        position: absolute;
        width: 100%;
        height: 70%;
        z-index: -1;
        top: 86px;
        .grid-container {
            padding-bottom: 2rem;
            @media (min-width: 640px){
                margin-bottom: -50px;
                padding-bottom: 0;

            }
        }

    }
    h4 {
        font-size: 14px;
        text-transform: capitalize;
        margin-bottom: 24px;
    }
    a, p {
        font-size: 12px;
        color: #707070;
        margin-bottom: 0;
    }

    a {
        &:hover {
            opacity: 0.7;
        }
    }
}

.links-footer {
    display: flex;
    justify-content: space-between;

    a {
        display: inline-block;
        width: 25px;
        text-align: center;
    }
    svg {
        height: 20px;
        margin: 0  0 16px 0;
        transition: .2s ease-in-out;
        &:hover {
            // path, ellipse{
            //     fill: $blue-B5;
            // }
            // width: 23px;
            transform: scale(1.2);
          
        }
        path, ellipse{
        fill: rgba(255, 255, 255, 0.8);
    }

}
}

.footer-rodo {
    .cell {
        @media(min-width:640px) {
        padding-bottom: 8px;
        }
        line-height: 1;
        text-align: center;
        @media(min-width: 640px) {
            text-align: left;
        }
    }
    background: #fff;
    a {
        color: rgba(0, 0, 0, 0.27);
        font-size: 11px;
    }
    padding: 8px 0;
    @media(min-width:640px) {
        padding: 8px 0;
        padding-top:0;
    }
  
}


.footer-form {
    // padding-bottom: 80px !important;
    max-width: 480px;
    font-family: 'Poppins';
    // position: relative;
    // @media(min-width: 640px) {
    //     top: 30px;

    // }
    // @media (min-width: 640px){
    //     bottom: 95px;

    // }
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #9B9B9B29;
    border-radius: 20px;

    .form-title {
        font-size: 14px;
        padding-bottom: 2.5rem;
    }

    .form-button {
        background-color: #E95A00 !important;
        color: #fff !important;
        border-radius: 20px;
        margin-top: 1rem;
        font-size: 13px;
        &:hover {
            opacity: 0.7;
        }
    }
    padding: 2rem 1rem;
    @media (min-width:480px) {
        padding: 2rem 2rem;
        margin: 0 50px;
    }
    @media(min-width: 640px) {
        margin: 0 0;
    }
    @media(min-width: 640px) and (max-width: 750px) {
        padding: 1.5rem .5rem;
     
    }
    margin: auto;
  
    
    .wpcf7 [type=text], .wpcf7 [type=tel], .wpcf7 [type=email], .wpcf7 textarea, .wpcf7-select {
        background-color: transparent;
    // padding: .5rem;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(206, 206, 206, 0.36);
    border-left: none;
    border-right: none;
    border-top: none;
    box-shadow: none;
    // color: rgba(255, 255, 255, 0.34);
    color: #707070;
    font-size: 11px;
    padding-left: 10px;
    padding-bottom: 10px;
    &::placeholder {
        color: rgba(112, 112, 112, 0.29);
        font-size: 12px;
    
    }
    }

    .wpcf7-select {
        background-image: url("../assets/img/Group 735.svg");
        // background-position: bottom;
        &:hover {
            cursor: pointer;
        }
        color: rgba(170, 170, 170, 0.61) !important;
    
        option {
            transition: .3s ease-in-out;
            color: #fff;
            padding-top: 0;
            background: #2F88B5;
         
        }
    }

    input[type=checkbox] {
        height: 5px;
        width: 10px;
        position: absolute;
        border-radius: 100%;
        left: 0;
        top: 2.5px;
        z-index: 5;
        cursor: pointer;
    }
    input[type=checkbox]:before {
        content: "";
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        top: 0;
        left: 0;
        border: 0.5px solid #A7A7A7;
        background-color: #fff;
        border-radius: 100%;
    }
    input[type=checkbox]:checked:after {
        content: "";
        display: block;
        width: 4px;
        height: 7px;
        border: 0.5px solid #A7A7A7;
        border-width: 0 1px 1px 0;
        transform: rotate(45deg);
        position: absolute;
        /* top: 1px; */
        bottom: -1px;
        left: 3px;
    }
    
    // .footer-form .wpcf7 .wpcf7-acceptance .wpcf7-list-item-label {
    //     color: #fff !important;
    // }
    
    span .wpcf7-list-item {
        padding-left: 20px;
        position: relative;
        display: inline-block;
   
    }
    
    span .wpcf7-list-item label{
        line-height: 1.4;
        // padding-bottom: 1em;
        font-size: 10px;
        // @media(min-width: 980px){
        //     font-size: 10px; 
        // }
        &:hover {
            cursor: pointer;
        }
        color:rgba(170, 170, 170, 0.61);
    }

    input:disabled {
        background-color: transparent;
    }
 }

 .footer-leczenie {
     z-index: 20;
 }