// .form-wrap.flex {
// 	display: flex;
// 	flex-flow: row wrap;
// 	margin: 0 -15px;
// 	br {
// 		display: none;
// 	}
// 	[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
// 		margin-bottom: 0;	
// 	}
// 	.wpcf7-not-valid-tip {
// 		font-size: rem-calc(12px);
// 		padding-top: .5rem;
// 	}
// 	> .wpcf7-form-control-wrap,
// 	> label,
// 	> .form-col {
// 		flex: 0 0 100%;
// 		width: 100%;
// 		padding: 0 15px;
// 		display: block;
// 		margin-bottom: 2rem;
// 		@include breakpoint(medium up){
// 			flex: 0 0 50%;
// 			width: 50%;
// 		}
// 		&.your-message {
// 			@include breakpoint(medium up){
// 				flex: 0 0 100%;
// 				width: 100%;
// 			}
// 		}
// 	}
// }

// .wpcf7-form {
// 	p {
// 		@extend .clearfix;
// 		margin-bottom: 0;
// 		position: relative;
// 	}
// 	.ajax-loader {
// 		position: absolute;
// 		left: 0;
// 		top: 50%;
// 		transform: translateY(-50%);
// 		margin: 0;
// 	}
// 	.wpcf7-submit {
// 		min-width: 0;
// 		&.right {
// 			float: right;
// 		}
// 		&.center {
// 			display: block;
// 			margin-left: auto;
// 			margin-right: auto;
// 		}
// 	}
// 	.wpcf7-response-output {
// 		margin: 2rem 0 0;
// 		padding: 1rem;
//     padding: .75em 1em;
// 	}
// }

.footer-form input[type=checkbox] {
    -webkit-appearance: none;
}