


.main-menu {
 
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 979px) {
       flex-direction: column;
    }
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    
 
    li {
        font-size: 14px;
        @media screen and (max-width: 979px) {
            text-align: center;
            font-size: 14px;
            margin-bottom: 17px;
            &:hover{
                a{
                    color: $red;
                }
                ul>a {
                    color: #fff;
                }
               cursor: pointer;
            }
          }

        &:hover > ul {
			@media(min-width: 980px) {
				display: block;

			}
		}

		&:last-child a{
			&::after {
			background-image: none;
			}
		}
        a {
			&::after {
				content: "";
				background-image: url("../../assets/img/orange-arrow.svg");
				background-size: contain;
				width: 7px;
				background-size: 10px 20px;
				height: 7px;
				margin-left: 10px;
				padding-left: 10px;
			
				@media(min-width: 980px) {
					display: none;
				}
				
			}
			color: $orange;
			padding-left: 1rem;
            @media screen and (max-width: 979px) {
			//    color: #fff;
			padding-left:0;
             }
            transition: .3s ease-in-out;
            &:hover {
                color: $red;
            }
          
            }
            ul{
                display: none;
                margin-left: 0;
                list-style: none;
                li {
                    margin-left: 0;
                }
                a {
                    margin-left:0;
                }
            }

            .sub-menu {
                margin: 0;
                display: none;
                opacity: 1;
                @media(min-width: 980px){
                    background: #fff;
                    position: absolute;
                    white-space: nowrap;
                    display: none;
                }
                @media(max-width: 979px){
                    opacity: 1 !important;
                }
                li {
					font-size: 12px;
					padding: 0;
					background: #FAFAFA;
					@media(max-width:979px) {
						margin-bottom: 10px;
					}
                    @media(min-width: 980px){
                        display: block;
						border: none;
					
						padding: 6px 1rem;
					

                    }
                    a {
						&:after {
							display: none;
						}
						color: $red;
						// padding-left: 2rem;
						&:hover {
							opacity: 0.7;
						}
                        line-height: 1;
                        @media(min-width: 980px){
                            padding: 6px 0;
                            display: block;
                        }
                    }
                }
            }	
        }

}


.menu-wrap {
	padding-left: 50px;
	transition:  all.3s ease-in-out;
	padding: 3rem 0; //tymczasowo
    z-index: 101;
	display: flex;
    flex-direction: column;
	position: fixed;
	height: 100vh;
	top: 0;
	right: 0;
	width: 85% !important;
	max-width: 300px;
    background: #FAFAFA;
    @media(max-width: 979px){ 
       box-shadow: 0px 3px 14px hsla(0, 0%, 0%, 0.11);
       padding: 0;
    }
	font-size: 14px;
	transform: translateX(100%);
	// transition: transform .4s;
	text-transform:capitalize;
	font-weight: 400;
	@media(min-width: 980px){ 
		overflow-y: visible;
		position: static;
		height: auto !important;
		width: auto !important;
		max-width: none;
		background: none;
		transform: none;
		display: block;
	}
	.admin-bar & {
		top: 46px;
		height: calc(100vh - 46px);
		@media(min-width:783px){
			height: calc(100vh - 32px);
			top: 32px;
		}
	}

	&.active {
		transform: translateX(0);
	}

}



#hamburger {
	margin: 1.9rem 0 0 -2.5rem;
	width: 1.5rem;
	height: 1rem;
	position: relative;
	transform: translateX(-100%);
	z-index: 5;
	transition: all .4s, background .2s;
	display: block;
	color: $orange;
	&:hover {
		color: $orange;
	}
	&:before, &:after, span {
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		background: currentColor;
		transform-origin: 50% 50%;
	}
	&:before {
		position: absolute;
		top: 0;
	}
	span {
		position: absolute;
		top: 50%;
		margin-top: -1px;
	}
	&:after {
		position: absolute;
		bottom: 0;
	}
	@media(min-width: 980px){
		display: none;
	}
	
	.active & {
		transform: translateX(0);
		margin: 1.9rem 0 .3rem 1rem !important;
		// color: #fff !important;
		span {
			opacity: 0;
		}
		&:before, &:after {
			position: absolute;
			top: calc(50% - 1px);
			width: 1.5rem;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
	.menu {
		overflow-y: auto;
		@media(min-width: 980px){
			overflow: visible;
		}
	}

	
}

.header {
	// min-height: 80px;
	@media(min-width: 980px) {
		background:  #FAFAFA;

	}
	padding: 11px 0;
	img {
		transition: 0.5s ease-out;

	}

}
.home-header {
	background: transparent; 
	.main-menu {
		li {
			a {
				color: $orange;
				@media(min-width: 980px) {
					color: #fff;

				}
				&:hover {
					color: $red;
				}
			}
		}
	}

}

#navbar {
	@media(min-width: 980px) {
		position: fixed;
		width: 100%;
		top: 0;

	}
}

body {
	@media(min-width: 980px) {
	padding-top: 140px;
	}
}
.body-main {
	padding-top: 0;
}

// #navbar {
// 	height: 140px;
// 	transition: .3s ease-in-out;
// }

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
transition: .3s ease-in-out;
	.menu-wrap {
	    transition: .3s ease-in-out;
		padding: 2rem 0; //tymczasowo
	}

	background:  #FAFAFA;
	z-index: 100;
	.main-menu {
		li {
			a {
				color: $orange;
			}
		}
	}
	img {
		transition: .3s ease-in-out;
		// height: 45px;

	}
	.logo-small {
		display: block !important;
	}
	.logo-big {
		display: none;
	}

  }


  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
//   .sticky + .content {
// 	padding-top: 60px;
//   }


  .logo-box {
	  @media(max-width: 979px) {
		 min-width: 200px;

	  }
	  .logo-small {
		width: 130px;
		  @media(min-width: 980px) {
			  display: none
		  }

	  }
	  .logo-big {
	
		// height: 120px;
		  transition: .3s ease-in-out;
		@media(max-width: 979px) {
			display: none
		}

	  }
	a {
		&:hover {
			opacity: 0.7;
		}
	}

}

// img[src="assets/img/LOGO MENU.svg"] {
// 	width: 40%;
//   }


