.slick-slider {
	position: relative;
	&:not(.slick-initialized){
		display: flex;
		overflow: hidden;
		> * {
			width: 100%;
			flex: 0 0 auto;
		}
	}
	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 10;
		font-size: 0;
		&:before {
			content: '';
			display: block;
			background: url('../assets/img/arrow.svg') no-repeat center center;
			width: 2.5rem;
			height: 2.5rem;
			background-size: contain;
		}
		&.slick-prev {
			left: 1rem;
		}
		&.slick-next {
			right: 1rem;
			transform: translateY(-50%) scaleX(-1);
		}
	}
	.slick-dots {
		position: absolute;
		bottom: 1rem;
		left: 0;
		right: 0;
		color: #fff;
		display: flex !important;
		list-style: none;
		margin: 0;
		justify-content: center;
		li {
			padding: 0 0.5rem;
			opacity: 0.5;
			transition: opacity 0.3s ease-out;
			&:hover {
				opacity: 1;
			}
			&.slick-active {
				opacity: 0.8;
			}
			button {
				font-size: 0;
				width: 8px;
				color: inherit;
				height: 8px;
				background: currentcolor;
				border-radius: 50%;
				display: block;
			}
		}
	}
	.slick-track {
		display: flex;
		transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1) !important;
		transition-duration: 1s !important;
		&:before, &:after {
			display: none;
		}
		.slick-slide {
			display: flex;
			height: auto;
			> * {
				width: 100%;
				display: flex;
			}
		}
	}
}

.slider {
	.slide {
		display: flex !important;
		align-items: center;
	}
	.slide-wrap {
		width: 100%;
		padding-top: 2rem;
		padding-bottom: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}	
	&--full-height {
		.slide-wrap {
			min-height: 100vh;
		}	
		.slide-inner {
			width: 100%;
		}
	}
	&--main {
		margin-top: -$header-height;
		.slide-inner {
			padding-top: $header-height;
		}
		.slick-arrow {
			margin-top: $header-height/2;
		}
	}
}

.owl-next, .owl-prev {
	svg {
		transition: .3s ease-in-out;
	}
	&:hover {
		background: transparent !important;
		svg {
			text {
				fill: $blue;
			}
		}
	}
}