@import '../general/typography';
@import '../modules/foundation-settings';


///////////////////////////main



.small-img-general {
  height: 250px;
  margin-bottom: 2rem;

  @include breakpoint(medium) {
    height: 100%;
    margin-bottom: 0;
  }

  border-radius: 15px;
}

.badania-img {
  @extend .small-img-general;
  background-image: url("../assets/img/Badania_kliniczne.jpg");
}


.strap {
  .form-button {
    font-size: 14px;
  }

  background-image: url("../assets/img/Group\ 577.jpg");
  padding: 3rem 6rem;

  p {
    color: #191919;
    font-size: 14px;
  }

  .strap-button {
    text-align: left;

    @media(min-width: 640px) {
      text-align: right;
    }
  }
}

.strap-travel {
  background-image: url("../assets/img/Group\ 581.jpg");
  padding: 3rem 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem;

  @include breakpoint(large) {
    padding: 56px 23%;

  }

  .starp-travel-title {
    text-align: center;
    color: #fff;
    font-size: 23px;
    line-height: 1.5;

    em {
      color: $orange;
      font-style: normal;
    }
  }
}

.main-100vh {

  .section {
    @media(min-width: 1900px) {
    margin-bottom: 8rem;
    }
    @media(min-width: 2000px) {
    margin-bottom: 10rem;
    }
  }

  // min-height: 100vh;
  position: relative;



  .main-100vh-inside {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    display: none;
    // background-image: none;

    @media(min-width: 980px) {
      width: 80%;
      display: flex;
      justify-content: flex-end;
    }

    @media(min-width: 1620px) {
      display: none;
    }
  }

  .main-100vh-inside-2 {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    display: none;

    @media(min-width: 1620px) {
      display: flex;
      justify-content: flex-end;
    }
    @media(min-width: 1900px) {
      transform: scale(1.1);
    }
    @media(min-width: 2000px) {
      transform: scale(1.2);
    }
  }


  @include breakpoint(large) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  @media(min-width: 1500px)and (min-height: 900px) {
    background-position-x: 420px;
  }

}

.img-small-screen {
  border-radius: 15px;
  height: 300px;
  background-image: url("../assets/img/Idee.png");

  @media(min-width: 980px) {
    display: none;
  }

  margin-bottom: 3rem;
}

.main-first {
  @include breakpoint(large) {
    margin-top: 300px;
  }

  .big-title {

    //   margin-bottom: 11px;
    //   @media screen and (min-width: 980px) {
    //     margin-bottom: 40px
    //  }
    @media(min-width: 1200px) {
      font-size: 45px;
    }
  }

  p {
    font-size: 14px;
    line-height: 1.5;
    color: #191919;
  }
}

.main-second {
  .text-box {
    @include breakpoint(large) {
      padding-right: 50px;
    }
  }

  .main-second-img {
    background-image: url("../assets/img/helena-lopes-PGnqT0rXWLs-unsplash.jpg");
    height: 250px;
    margin-bottom: 2rem;

    @include breakpoint(medium) {
      height: 100%;
      margin-bottom: 0;

    }
  }

  background: #FAFAFA;
  padding: 50px 0;

  p {
    margin-bottom: 23px;
  }
}

.owl-2-box {
  @media(min-width: 800px) {
    padding: 0 5%;
  }

  .owl-next {
    position: absolute;
    top: 0;
    right: -50px;
  }

  .owl-prev {
    position: absolute;
    top: 0;
    left: -50px;
  }
}

.owl-2-section {
  .small-title {
    padding-bottom: 62px;
  }
}

.news {

  .card {
    p {
      margin-bottom: 0;

    }

    transition: .3s ease-in-out;

    &:hover {
      opacity: 0.7;

    }
  }

  .small-title {
    margin-bottom: 58px;
  }

  .white-button {
    margin-top: 42px;
  }
}

.map-title {
  .small-title {
    margin-bottom: 61px;
  }
}

.map {
  padding: 2rem 0 300px 0;

  @include breakpoint(medium) {
    padding: 80px 0;

  }

  background-image: url("../assets/img/Zrzut\ ekranu\ 2020-05-5\ o\ 13.17.22.jpg");

  .footer-form {
    @media (min-width: 480px) {
      margin: auto;

    }

    .form-title {
      padding-bottom: 0;
      font-size: 20px;
    }

    padding: 1.5rem;

    @include breakpoint(medium) {
      padding: 2.5rem 2.5rem;

    }

    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint(medium) {
      min-height: 440px;
      max-width: 345px;
    }

    p {
      font-size: 12px;
      color: #000;
      margin-bottom: 12px;
    }

    ul {
      list-style: none;
      margin-left: 0;
    }

    ul>li {
      color: rgba(112, 112, 112, 0.38);
      display: flex;
      align-items: flex-start;
      font-size: 10px;

      img {
        margin-top: 2.5px;
        margin-right: 8px;
        width: 11px;
      }
    }

    .wpcf7 [type=text] {
      padding-left: 0;
      background-image: url("../assets/img/Icon\ feather-search.svg");
      background-size: contain;
      background-position: right;
      background-size: 10px;

    }
  }
}

.card-img-my {
  background-image: url("../assets/img/toa-heftiba-6bKpHAun4d8-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;

  @include breakpoint(medium) {
    height: 180px;
  }

  @include breakpoint(large) {
    height: 224px;

  }

  border-radius: 15px 15px 0 0;
}

.card {
  box-shadow: 0px 3px 20px rgba(155, 155, 155, 0.161);

  border: 1px solid transparent;
  border-radius: 15px;

  .card-text {
    border: 1px solid transparent;
    border-radius: 15px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding: 2rem;

    @include breakpoint(medium) {
      padding: 1rem;
    }

    @include breakpoint(large) {
      padding: 2rem;
    }
  }

  .card-img {
    width: 100%;
  }

  .date {
    display: block;
    font-size: 11px;
    color: rgba(112, 112, 112, 0.41);
    font-weight: 500;
    font-family: 'Poppins';
    margin-bottom: 14px;
  }

  .card-title {
    line-height: 1.5;
    color: $orange;
    font-size: 15px;
    font-weight: 400px;
  }

  p {
    font-size: 13px;
    color: #707070;
  }

}


//////////////////////about

.about-first {
  .img-fit {

    object-position: right;

  }
}


.img-small-wyzwalacze {
  border-radius: 15px;
  height: 300px;

  @media(min-width: 980px) {
    display: none;
  }

  margin-bottom: 2rem;
  background-image: url("../assets/img/diagnoza-small.jpg");
}

.wyzwalacze {
  // padding-bottom: 2rem;
  // @media screen and (min-width: 640px) {
  //     padding-bottom: 4rem;
  // }
  // @media screen and (min-width: 1200px) {
  //     padding-bottom: 6rem;
  // }

  ul>li {
    color: $gray-70;
    font-size: 13px;
    line-height: 1.2;
    margin-bottom: 13px;
    //   &:first-letter {
    //     text-transform: capitalize;
    // }

  }
}

.wyzwalacze-second {
  @include breakpoint(large) {
    padding-right: 25%;
  }
}

.wyzwalacze-background {

  // position: relative;
  // z-index: 20;
  @media(max-width: 979px) {
    background: none;

  }

  background-size: 65%;

  @media(min-width: 1550px) {

    background-size: 55%;
  }

  background-position-x: right;
  background-position-y: top;
  background-image: url("../assets/img/Intersection\ 5a.png");
  background-color: rgb(255, 255, 255);


}

.special-menu-box {
  display: none;

  @include breakpoint(medium) {
    display: flex;
    flex: 0 0 auto;

  }
}

.fixed-class {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.special-menu {
  @media(min-width: 640px) and (max-width: 740px) {
    max-width: 300px;
  }

  background-color: #fff;
  box-shadow: 0px 3px 20px rgba(190, 190, 190, 0.255);
  padding: 2rem 2rem 12px 2rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // position: fixed;
    top: 50%;
  @include breakpoint(large) {
    top: calc(50% + 50px);

  }

  z-index: 10;

  .small-title {
    font-size: 20px;

  }

  ul {
    margin-bottom: 0;
    margin-left: 2rem;
    list-style: none !important;
  }

  ul li::before {
    content: "";
  }

  ul>li {
    cursor: pointer;
    margin-bottom: 15px;

    @media(min-width: 1360px) {
      margin-bottom: 20px;

    }

    font-size: 14px;
    color: $gray-70;
    transition: .3s ease-in-out;

    &:hover {
      color: $orange;
    }
  }
}

// .sticky-special-menu {
// 	transition: 0.5s ease-out;

// 	position: fixed;
//   top: 50%;
//   margin-top: -250px; 

// 	width: 100%;
// 	z-index: 100;

// }
.opcje-leczenia {
  @media(max-width: 979px) {
    background: none;

  }

  background-image: url("../assets/img/Intersection\ 5.png");
  background-size: 72%;

  @media(min-width: 1600px) {
    background-size: 60%;
  }
}

.img-small-leczenie {
  border-radius: 15px;
  height: 300px;

  @media(min-width: 980px) {
    display: none;
  }

  margin-bottom: 2rem;
  background-image: url("../assets/img/Opcje_leczenia.jpg");
}

///////////////////////faq

.faq-question-box {
  max-width: 745px;

  @include breakpoint(large) {
    padding-left: 20px;
  }
}

.faq-form {
  @include breakpoint(medium) {
    padding-left: 1rem;
  }

  .small-6-1 {
    padding-right: 25px;
  }

  .small-6-2 {
    padding-left: 25px;
  }

  .form-button {
    padding: 9px 30px !important;
  }

  .wpcf7 [type=text],
  .wpcf7 [type=tel],
  .wpcf7 [type=email],
  .wpcf7 textarea,
  .wpcf7-select {
    border: none;
    border-bottom: 1px solid rgba(112, 112, 112, 0.31);

    &::placeholder {
      color: rgba(112, 112, 112, 0.31);
      font-size: 12px;

    }
  }
}

.category-box {
  box-shadow: 0px 3px 40px #83838329;
  border-radius: 10px;
  padding: 2rem 2rem;

  @media(min-width: 800px) {
    padding: 2.5rem 3rem;

  }
}

@keyframes example {
  from {
    display: none;
    opacity: 0;
  }

  to {
    display: block;
    opacity: 1;
  }
}

.category {
  display: none;
  animation-name: example;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;

}

.rotate {
  border-bottom: none !important;

  p {
    color: $orange !important;
  }

  img {
    transform: rotate(180deg);
  }
}

.category-1 {
  display: block;
}

.guestion-box:last-child {
  margin-bottom: 0;
}

// .arrow-box {
//   img {
//     margin-bottom: 3.54px;
//     height: 8px;
//     width: 16px;
//     margin-left: 20px;
//   }
// }
.guestion-box {
  &:last-child {
    padding-bottom: 0;

    .question {
      padding-bottom: 0;
      border-bottom: none;

    }

    .answer {
      padding-top: 2rem;
    }
  }

  padding-bottom: 3rem;
}



.question {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding-bottom: 2rem;

  border-bottom: 1px solid rgba(219, 219, 219, 0.27);
  transition: .3s ease-in-out;

  img {
    //polowa czcionki!:)
    margin-top: 6.5px;
    margin-left: 5px;
  }

  &:hover {
    cursor: pointer;

    p {
      color: $orange;

    }
  }

  p {
    transition: .3s ease-in-out;
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 0;
    color: #000;

  }
}

.answer {
  display: none;
  font-size: 13px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
}

.faq-title-box {
  padding-bottom: 2rem;

  @media screen and (min-width: 640px) {
    padding-bottom: 44px;
  }
}

.faq-category-box-box {
  @include breakpoint(medium) {
    margin-top: 238.67px;
  }

  @include breakpoint(large) {
    margin-top: 200px;
  }
}

.category-box-box {
  @include breakpoint(medium) {
    padding-left: 20px;

  }
}

.faq-ul-box {
  @include breakpoint(medium) {
    position: fixed;

  }
}

.flex-end {
  display: flex;
  align-items: flex-end;
}

.faq-menu {

  ul {
    list-style: none;
    margin-left: 0;

  }

  ul>li {
    font-size: 15px;
    color: rgba(2, 2, 2, 0.4);
    margin-bottom: 20px;

    @include breakpoint(large) {
      margin-bottom: 41px;

    }

    transition: .3s ease-in-out;

    &:hover {
      color: $orange;
      cursor: pointer;
    }
  }
}

.add-orange {

  color: $orange !important;

}

.add-gray {
  color: rgba(0, 0, 0, 0.83) !important;
}



///////////////////travel

.travel-first-box-text {

  padding-bottom: 0px;

  @include breakpoint(medium) {
    padding-bottom: 3rem;

  }

  @include breakpoint(large) {
    padding-bottom: 5rem;

  }
}

.travel-first-img {
  height: 200px;
  margin-bottom: 50px;

  @include breakpoint(medium) {
    height: auto;
    margin-bottom: 0;
  }
}



.travel-section {
  @include breakpoint(large) {
    padding: 0 100px;
  }

  p,
  .ul-box {
    font-size: 13px;
    margin-bottom: 50px;
  }

  .ul-box {
    p {
      margin-bottom: 21px;
    }
  }


  .big-img {
    height: 200px;

    @include breakpoint(medium) {
      height: 339px;

    }
  }

  .small-img {
    height: 200px;

    @include breakpoint(medium) {
      height: 281px;

    }
  }

  .small-img,
  .big-img {
    margin-bottom: 50px;
    border-radius: 15px;
    opacity: 0.85;
  }

  ul>li,
  span {
    color: $gray-70;
  }




}

ul.orange-ul {
  list-style: none;
  margin-left: 1rem;

}

ul.orange-ul li {
  position: relative;
}

ul.orange-ul li::before {
  // line-height: 1.2; ///!!!
  font-size: 23px;
  position: absolute;
  top: -5.5px;
  color: #F6A901;
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 0.8em;
  /* Also needed for space (tweak if needed) */
  margin-left: -0.8em;
  /* Also needed for space (tweak if needed) */
}


.img-bigger-box {
  overflow: hidden;
  border-radius: 15px;
}

.bigger-img {
  justify-content: center;
  padding: 3rem 1rem;

  @include breakpoint(large) {
    padding: 75px 40px;
  }

  background-image: url("../assets/img/Group 576.jpg");
  transition: 0.5s;
}

.ofert-last {

  .big-title {
    font-size: 25px;
  }

  .cell {
    .big-title {
      text-align: left;
      font-size: 13px;

      @media(min-width: 400px) {
        font-size: 14px;
      }

      @media(min-width: 1200px) {
        font-size: 16px;
      }

      color: #fff;
      margin-bottom: 0;
    }
  }

  .bigger-img {
    padding: 2rem 1rem;

    height: 100%;

    @include breakpoint(large) {
      padding: 1rem;
      min-height: 263px;
    }


    &:hover {
      transform: scale(1.05);
      transition: 0.5s;
      cursor: pointer;

    }
  }

  span {
    color: $blue;
  }

}


///////////////schorzenie

.schorzenie {
  .form-button {
    margin-top: 1.5rem;
  }

  ul>li {
    font-size: 13px;
    line-height: 1.5;
    color: $gray-70;
    margin-bottom: 13px;
  }

  .schorzenie-img {
    height: 75%;
    background-image: url("../assets/img/Schorzenie.jpg");
    border-radius: 15px;

    @media(max-width: 639px) {
      height: 250px;
      margin-bottom: 2rem;
    }
  }
}


/////////////types

.types-title-section {
  padding-bottom: 50px;
}

.types-cells {
  margin-bottom: 68px;

  .cell {
    box-shadow: 0px 3px 20px rgba(190, 190, 190, 0.255);
    border-radius: 15px;
    display: flex;
    align-items: center;
    transition: .3s ease-in-out;

    &:hover {
      // a {
      //   opacity: 1;

      // }
      background: $orange;

      p {
        color: #fff;
      }

      svg {
        z-index: 100;

        path {
          fill: #fff;
          opacity: 1;

        }
      }
    }

    .icon-and-text-box {
      padding: 45px 28px;
      display: flex;
      align-items: center;

      svg {
        width: 40px;
      }
    }

    p {
      font-size: 15px;
      color: #212121;
      margin-bottom: 0;
      padding-right: 33px;
    }
  }
}

.download {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .download-title {
    padding-right: 20px;
    line-height: 1.2;
    font-size: 18px;

    em {
      font-size: 14px;
      font-style: normal;
      color: $gray-70;
    }
  }

}


//////////////////////pregnancy

.pregnancy {
  @include breakpoint(large) {
    padding-right: 20%;
  }

  ul>li {
    color: $gray-70;
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 13px;
  }
}


//////////////////control

.controla-img-left {
  @extend .small-img-general;
  background-image: url("../assets/img/Przejmij_kontrole_nad_HAE.jpg");

  @include breakpoint(medium) {
    margin-bottom: 88px;

  }
}

.back-control {
  background-repeat: no-repeat;

  @media(max-width: 979px) {
    background-image: none !important;
  }

  background-image: url('../assets/img/Intersection\ 5.jpg');
  background-size: 50%;

  @media(min-width: 1700px) {
    background-size: 60% !important;
  }

  // @media(min-width: 1800px) {
  //   background-size: 50% !important;
  // }
  background-position-x: right;
  background-position-y: top;
}

.back-control-img-small {
  border-radius: 15px;
  height: 300px;
  background-image: url("../assets/img/Przejmij_kontrole_nad_HAE.jpg");

  @media(min-width: 980px) {
    display: none;
  }

  margin-bottom: 3rem;
}

.back-ambasad {
  @media(max-width: 979px) {
    background-image: none;
  }

  @extend .back-control;
  background-image: url('../assets/img/ambasad.png');
  background-size: 65%;

  @media(min-width: 1600px) {
    background-size: 55%;
  }
}

.ambasador-small-img {
  border-radius: 15px;
  height: 300px;
  background-image: url("../assets/img/amabasador_small.png");

  @media(min-width: 980px) {
    display: none;
  }

  margin-bottom: 3rem;
}

.ambasad-sec1 {
  @include breakpoint(medium) {
    margin-bottom: 100px;
  }

  @include breakpoint(large) {
    margin-bottom: 178px;

  }
}

.ambasador-img {
  background-image: url("../assets/img/Regionalny_Ambasador_Pacjenta.jpg");
  height: 250px;
  margin-bottom: 2rem;

  @include breakpoint(medium) {
    height: 100%;
    margin-bottom: 0;
  }

  border-radius: 15px;
}




.control-left-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .padding-right {
    @include breakpoint(medium) {
      padding-right: 20px;
    }

    @include breakpoint(large) {
      padding-right: 50px;
    }

    @media(min-width: 1360px) {
      padding-right: 70px;
    }
  }
}

.control-right-text {
  p {
    @include breakpoint(large) {
      margin-bottom: 1.5rem;
    }

  }

  p:last-child {
    margin-bottom: 0;
  }

  // @include breakpoint(medium) {
  //   padding-right: 4rem;
  // }
  @include breakpoint(large) {
    padding-right: 8rem;


  }

  @media(min-width: 1360px) {
    padding-left: 30px;
  }
}

.control-join-img {
  margin-bottom: 1rem;

  @include breakpoint(large) {
    margin-bottom: 88px
  }
}

.control-join-title {
  margin-bottom: 2rem;

  @include breakpoint(medium) {
    margin-bottom: 0;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 0;
  }

  h4 {
    font-size: 18px;
    margin-bottom: 1.5rem;

    em {
      font-style: normal;
      color: $orange;
    }
  }
}


//////////////////ambasador

.ambasador {
  .small-title {
    @include breakpoint(large) {
      width: 70%;
    }
  }

  em {
    font-style: normal;
    color: #000;
  }
}


.ambasador-strap {
  @extend .strap-travel;
  background-image: url("../assets/img/Group\ 582.jpg");

  .starp-travel-title {
    color: #000;
  }
}

.osrodki-title-box {
  margin-bottom: 2rem;

  @include breakpoint(large) {
    margin-bottom: 40px;

  }
}

#edukacja-image-1 {
  background-image: url('../assets/img/Podrozowanie.jpg');
  border-radius: 15px;
}

#edukacja-image-2 {
  background-image: url('../assets/img/Rectangle\ 368.jpg')
}

#edukacja-image-3 {
  background-image: url('../assets/img/Rectangle\ 367.jpg')
}

#edukacja-image-4 {
  background-image: url('../assets/img/Rectangle\ 369.jpg')
}

#edukacja-image-5 {
  background-image: url('../assets/img/Rectangle\ 370.jpg')
}

#travel-img-1 {
  background-image: url('../assets/img/Podrozowanie_a.jpg')
}

#travel-img-2 {
  background-image: url('../assets/img/Rectangle\ 368_a.jpg')
}

#travel-img-3 {
  background-image: url('../assets/img/Rectangle 367_a.jpg')
}

#travel-img-4 {
  background-image: url('../assets/img/Rectangle 369_a.jpg')
}

#travel-img-5 {
  background-image: url('../assets/img/Rectangle\ 370.jpg')
}


.ciaza-last-text {

  p:last-child {
    margin-bottom: 0;
  }
}

.img-with-offset {
  border-radius: 15px;
  height: 250px;
  margin-bottom: 2rem;

  @include breakpoint(medium) {
    height: auto;
    margin-bottom: 0;
  }
}

.diagnoza-last-text {
  @media(min-width: 1360px) {
    padding-right: 6rem;
  }
}

.diagnoza-last-img {
  background-image: url("../assets/img/Edukacja_i_praca.jpg");
  @extend .img-with-offset;

}

.ciaza-img-first {
  background-image: url("../assets/img/Ciaza.jpg");
  @extend .img-with-offset;
}

.img-ciaza-last {
  background-image: url("../assets/img/Rectangle 359.jpg");
  @extend .img-with-offset;
}

.dzieci-question-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  //   @include breakpoint(large) {
  // padding-left:60px;
  //   }
}

.dzieci-question-left {
  margin-bottom: 2rem;

  @include breakpoint(medium) {
    margin-bottom: 0;
  }
}

.form-dzieci-box {

  .faq-question-box {
    padding-left: 0;
  }
}

.psycholog {
  @include breakpoint(large) {
    margin-bottom: 0;
    padding-bottom: 6rem;
  }

  ul>li {
    margin-bottom: 13px;
  }

  ul {
    margin-top: 21px;
  }

  p {
    em {
      font-style: normal;
      color: $orange;
    }
  }
}

.psycholog-back {
  @extend .back-control;
  background-size: 72%;

  @media(min-width: 1200px) {
    background-size: contain !important;
  }

  background-image: url('../assets/img/psycholog.png');
}

.back-psycholog-img-small {
  @extend .back-control-img-small;
  background-image: url("../assets/img/psycholog-small.png");
}

.diagnoza-back {
  @extend .back-control;
  background-size: 72%;

  @include breakpoint(1600px) {
    background-size: 65%;
  }

  background-image: url('../assets/img/diagnoza-page.png');
}

.back-diagnoza-img-small {
  @extend .back-control-img-small;
  background-image: url("../assets/img/diagnoza-page-small.png");
}

.mechanizm-back {
  @extend .back-control;
  background-size: 72%;
  background-image: url('../assets/img/mechanizm.jpg');
}

.back-mechanizm-img-small {
  @extend .back-control-img-small;
  background-image: url("../assets/img/mechanizm-small.png");
}

.oplaty-back {
  @extend .back-control;
  background-image: url('../assets/img/oplaty.jpg');
  background-size: 70% !important;

  // @media(min-width: 1600px) {
  //   background-size: 50% !important;
  // }
  @media(min-width: 1200px) {
    background-size: contain !important;
  }
}

.back-oplaty-img-small {
  @extend .back-control-img-small;
  background-image: url("../assets/img/oplaty-small.png");
}

.objawy-back {
  @extend .back-control;
  background-size: 72%;
  background-image: url('../assets/img/objawy.png');

  @media(min-width: 1500px) {
    background-size: 60%;
  }
}

.back-objawy-img-small {
  @extend .back-control-img-small;
  background-image: url("../assets/img/Objawy-small.jpg");
}

.objawy-img {
  background-image: url("../assets/img/Objawy-small.jpg");
  height: 100%;
  border-radius: 15px;
  height: 250px;
  margin-bottom: 2rem;

  @include breakpoint(medium) {
    height: 100%;
    margin-bottom: 0;
  }
}

.objawy-text-right {
  @include breakpoint (medium) {
    padding: 3rem 0;

  }
}


///////////body-animation

.body-animation {
  .body-animation-title {
    text-align: center;
    padding-bottom: 40px;

    @include breakpoint(large) {
      padding-bottom: 100px;

    }
  }

  .cell-left {
    margin-bottom: 5rem;

    &:first-child {
      display: block;
    }

    @include breakpoint(large) {
      margin-bottom: 0;
    }
  }

  .cell-right {
    @media (max-width: 979px) {
      display: none;
    }

    @include breakpoint(large) {
      &:first-child {
        display: block;
      }
    }
  }

  .body-cell {
    animation-name: example;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    display: none;

    box-shadow: 0px 3px 20px #BEBEBE41;
    padding: 23px;
    border-radius: 15px;

    @include breakpoint(large) {
      margin-top: 20%;
    }
  }

  img {
    // @include breakpoint(large) {
    transform: scale(1.18);

    // }
  }

  .pani-box {
    justify-content: flex-end;

    img {
      height: 100%;
    }

    padding-right: 40px;
  }

  .pan-box {
    justify-content: flex-start;
    padding-left: 40px;

  }
}

.pan-pani-box {
  display: flex;
}


.pan-pani-box-inner {
  flex: 0 0 auto;
}

@keyframes light {
  from {
    -webkit-box-shadow: 0px 0px 0px 0px #DE261C;
    -moz-box-shadow: 0px 0px 0px 0px #DE261C;
    box-shadow: 0px 0px 0px 0px #DE261C;

  }

  to {
    -webkit-box-shadow: 0px 0px 0px 10px rgba(222, 38, 28, 0);
    box-shadow: 0px 0px 0px 10px rgba(222, 38, 28, 0);

  }
}

.shadow-ball {
  animation: light 1s ease-in-out infinite;
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: $red;
  z-index: 10;

  &:hover {
    cursor: pointer;
    animation-play-state: paused;
  }
}

.shadow-ball-clicked {
  animation-play-state: paused;
}

.shadow-ball-1 {
  top: 47%;
  left: -4%;
}

.shadow-ball-2 {
  top: 47%;
  left: 90%;
}

.shadow-ball-3 {
  top: 5%;
  left: 43%;
}

.shadow-ball-4 {
  top: 100%;
  left: 54%;

}

.pan-box {
  .shadow-ball-4 {
    left: 57%;

  }
}

.shadow-ball-5 {
  top: 100%;
  left: 31%;
}

.shadow-ball-6 {
  top: 34%;
  left: 38%;
  height: 44px;
  width: 32px;
  border-radius: 50%;
}

.pan-box {
  .shadow-ball-6 {
    left: 40%;

  }
}




















///////////////////refundacja

.refundacja-menu-title {
  font-size: 15px;
  margin-bottom: 21px;
  transition: .3s ease-in-out;

  &:hover {
    cursor: pointer;
    color: $orange;
  }
}

.special-menu-refundacja {
  padding: 3rem 3rem 28px 3rem;
  max-width: 390px;

  ul>li {
    text-transform: uppercase;
    color: #777777;
  }
}

.img-refundacja-1 {
  height: 250px;

  @include breakpoint(medium) {
    height: 320px;

  }

  border-radius: 15px;
  background-image: url("../assets/img/Refundacja.jpg");
}

.map-osrodek {
  background-image: url("../assets/img/map-osrodek.jpg");
  height: 500px
}

.osrodek-section {
  @include breakpoint(large) {
    padding: 0 100px;
  }

  p,
  ul>li {
    font-size: 13px;
    color: $gray-70;
    line-height: 1.5;
  }

  ul {
    margin-top: 21px;
  }

}

.osrodek-img-1 {
  height: 250px;
  background-image: url("../assets/img/Centralny_osrodek_HAE_01.jpg");
  border-radius: 15px;

  @include breakpoint(medium) {
    height: 100%;

  }
}

.osrodek-img-2 {
  height: 250px;
  background-image: url("../assets/img/Centralny_osrodek_HAE_02.jpg");
  border-radius: 15px;

  @include breakpoint(medium) {
    height: 330px;

  }
}

.osrodek-img-3 {
  height: 250px;
  background-image: url("../assets/img/Centralny_osrodek_HAE_03.jpg");
  border-radius: 15px;

  @include breakpoint(medium) {
    height: 100%;

  }
}

.osrodek-img-4 {
  height: 250px;
  background-image: url("../assets/img/Centralny_osrodek_HAE_04.jpg");
  border-radius: 15px;

  @include breakpoint(medium) {
    height: 100%;

  }
}


// .misja-img-1 {
//   background-image: url("../assets/img/Misja_01.jpg");
// }
// .misja-img-2 {
//   background-image: url("../assets/img/Cele_01.jpg");
// }

.misja {
  .padding-left {
    @include breakpoint(medium) {
      padding-left: 0;
    }

    @include breakpoint(large) {
      padding-left: 72px;
    }
  }
}

.misja-two {
  ul {
    margin-top: 21px;
  }

  ul>li {
    margin-bottom: 15px;
  }
}

.wartosci-img-box {
  justify-content: center;
  transform: scale(0.8);

  @include breakpoint(medium) {

    transform: none;
  }

  @include breakpoint(large) {
    justify-content: flex-start;
  }
}

.oplaty {
  @include breakpoint(large) {
    padding-bottom: 200px;
    margin-bottom: 0;
  }

  ul {
    list-style: none;
    margin-left: 0;

    em {
      font-style: normal;
      color: #000;
    }
  }
}

.partnerzy {
  img {
    margin-bottom: 1rem;
  }
}

.menu-wladze-big {
  padding-bottom: 1rem;
  justify-content: space-between;

  .menu-wladze-big-option {
    &:hover {
      color: $orange;
      cursor: pointer;
    }

    padding-right: 50px;
    &:last-child {
      padding-right: 0;
    }

    color: rgba(0, 0, 0, 0.53);

    transition: .3s ease-in-out;
    font-size: 17px;

    @include breakpoint(medium) {
      font-size: 20px;
    }
  }

}

.menu-partnerzy-new {
  max-width: 450px;
}

.menu-organy-doradcze {
  max-width: 367px;
}

.menu-partnerzy {
  display: flex;
  justify-content: space-between;

  .menu-partnerzy-option {
    font-size: 14px;


    color: rgba(0, 0, 0, 0.53);
    transition: .3s ease-in-out;

    &:hover {
      color: rgba(0, 0, 0, 0.83);
      cursor: pointer;
    }


  }

}

.menu-wladze-item {
  display: none;
}

.menu-wladze-item-1 {
  display: block;
}

.menu-partnerzy-item {
  // display:none;
  animation-name: example;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;

  .cell {
    a {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

// .menu-partnerzy-item-1 {
//   display: block;
// }

.regionalne-img {
  background-image: url("../assets/img/Regionalne_Osrodki_HAE.jpg");
  border-radius: 15px;
  height: 250px;
  margin-bottom: 2rem;

  @include breakpoint(medium) {
    height: auto;
    margin-bottom: 0;
  }
}

.idee-img {
  @extend .regionalne-img;
  background-image: url("../assets/img/Idee.jpg");
}

.regionalne-buttons-box {
  display: flex;
  align-items: center;

  @include breakpoint(medium) {
    display: block;
  }

  @include breakpoint(large) {
    display: flex;
    align-items: center;

  }

  .form-button {
    margin-top: 0;
  }

  p {
    text-align: center;
    margin-bottom: 0;
    padding: 0 13px;

    @include breakpoint(medium) {
      padding: 13px 0;
    }

    @include breakpoint(large) {
      padding: 0 13px;
    }

    color: rgba(126, 126, 126, 0.52)
  }
}

.regionalne-map-title {
  @include breakpoint(large) {
    margin-bottom: 2rem;
  }
}

.puchne-nie-puchne {
  .cell {
    @media(max-width: 639px) {
      text-align: center;
      padding-bottom: 1rem;
    }

  }
}

.idee-2-img {
  @extend .small-img-general;
  background-image: url("../assets/img/Idee2.jpg");

}

.idee-cyt {
  .small-title:last-child {
    margin-bottom: 2rem;

    @include breakpoint(medium) {
      margin-bottom: 0
    }
  }

  .big-title {
    @include breakpoint(large) {
      margin-top: 65px;
    }

    margin-bottom: 24px;

    em {
      color: $red;
      font-style: none;
    }
  }

  .small-title:last-child {
    font-weight: 200;
  }
}

.nie-piekne-img {
  background-image: url("../assets/img/Rectangle\ 371.jpg");

  @include breakpoint(medium) {
    height: 370px;
    margin-bottom: 46px;
    margin-top: 46px;
  }

  @extend .small-img-general;
}

/////////////////wladze

.wladze-box {
  justify-content: center;
}

.wladze-cell {
  margin-bottom: 30px !important;
  display: flex;
  justify-content: center;

  .wladze-img-box {


    img {
      margin-bottom: 0;
      border-radius: 15px;
      //  &:hover {
      //   background-color: rgba(233, 89, 0, 0.85);

      // }
    }
  }
}

.wladze-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 15px;
  background-color: rgba(233, 89, 0, 0.85);
  opacity: 0;
  transition: .3s ease-in-out;
  ;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  top:0;
  height: 100%;
  padding: 1rem 1.5rem;
  color: #fff;
  text-align: center;

  .wladze-cell-title {
    font-size: 17px;
    text-transform: uppercase;
  }

  span {
    font-size: 15px;
    font-weight: 200;
  }

  p {
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
  }

  .wladze-cell-social {
    padding-bottom: 5px;

    img {
      padding: 0 7px;
    }
  }
}

/////////////kontakt
.kontakt-first-column {
  padding-right: 10px;
}
.kontakt-second-column {
  padding-left: 10px;
}

.kontakt-back {
  .footer-form-box {
    display: flex;
    justify-content: center;
  }

  background-image: url("../assets/img/Group\ 618.jpg");
  padding: 100px 0;

  .kontakt-left {
    @media(max-width: 639px) {
      display: flex;
      justify-content: center;
    }

    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

    @include breakpoint(medium) {
      padding-right: 50px;
      padding-left: 0;
      margin-bottom: 0;
    }

    @media(min-width: 1100px) {
      padding-right: 150px
    }

    .cell {
      max-width: 220px;
    }

    .grid-x {
      @include breakpoint(medium) {
        justify-content: space-between;

      }
    }

    a,
    p {
      color: #fff;

    }

    a {
      &:hover {
        opacity: 0.7;
      }
    }

    p {
      font-size: 12px;
      margin-bottom: 1.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    #breadcrumbs a,
    #breadcrumbs {
      color: rgba(255, 255, 255, 0.66);
      padding-top: 0;
      padding-bottom: 1rem;
    }

    .kontakt-title {
      color: #fff;
      font-size: 12px;
      margin-bottom: 1.9rem;
      font-weight: 600;
    }

    .smaller {
      margin-bottom: 1.5rem;
    }

    .gmail {
      font-size: 11px;

      @media(min-width: 370px) {
        font-size: 13px;

      }

      @include breakpoint(large) {
        font-size: 19px;

      }

      font-weight: 200;
      margin-bottom: 1.9rem;
      display: block;
    }
  }
}

.kontakt-map {
  background-image: url("../assets/img/Zrzut\ ekranu\ 2020-05-5\ o\ 13.17.22.jpg");
  height: 320px;
}

.flex-down {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


////////////specjalisci

.menu-specjalisci-box {
  display: flex;
  justify-content: space-between;

  .menu-specjalisci-option {
    padding-right: 0;
    color: rgba(0, 0, 0, 0.53);
    font-size: 17px;
    transition: .3s ease-in-out;

    &:hover {
      cursor: pointer;
      color: $orange;
    }

    @include breakpoint(large) {
      font-size: 20px;
    }
  }
}

.acare-img-left {
  @extend .small-img-general;
  background-image: url("../assets/img/ACARE_02.jpg");

  @include breakpoint(medium) {
    height: 350px;
    margin-bottom: 58px;
  }
}

.wytyczne-right-img {
  @extend .small-img-general;
  background-image: url("../assets/img/ACARE_02.jpg");

}

.acare-logo {
  @extend .small-img-general;
  background-image: url("../assets/img/ACARE_01.jpg");
  background-size: contain;
  margin: 0 10%;

  @include breakpoint(medium) {
    margin: 0 0;
    height: 196px;
    margin-top: 96px;
  }
}

.specjalisci-edukacja {
  .edukacja-img {
    @extend .small-img-general;
    background-image: url("../assets/img/ACARE_02.jpg");

    @include breakpoint(medium) {
      height: auto;
    }
  }

  .near-form {
    margin-bottom: 2rem;

    @include breakpoint(medium) {
      margin-bottom: 0;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;

    .near-form-title-1 {
      em {
        color: $orange;
        font-style: normal;
      }

      font-size: 25px;
      margin-bottom: 10px;
    }

    .near-form-title-2 {
      font-size: 50px;
      font-weight: 200;
    }
  }
}

.wytyczne-left {
  ul>li {
    a {
      color: $orange;
      text-decoration: underline;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.join-img-1 {
  @extend .small-img-general;
  background-image: url("../assets/img/Dolacz_do_Nas_01.jpg");
}

.join-right {
  ul>li {
    margin-bottom: 7px;
  }

  ul {
    margin-bottom: 2rem;
    margin-top: 21px;
  }
}

.legim-img-1 {
  @extend .small-img-general;
  background-image: url("../assets/img/Legitymacja_Pacjenta_01.jpg");
  background-size: contain;
  background-position: top;

  @include breakpoint(medium) {
    height: 300px;
    margin-bottom: 2rem;
  }

  @include breakpoint(large) {
    margin-bottom: 0;
    height: 100%;
  }
}

.dzienn-img-1-box {
  text-align: center;
  margin-bottom: 2rem;

  @include breakpoint(large) {
    text-align: left;
    margin-bottom: 0;
  }
}


.pakiet-right {
  ul {
    margin-top: -4px;
  }

  ul>li {
    margin-bottom: 7px;
  }
}

.historie-img-1 {
  @extend .small-img-general;
  background-image: url("../assets/img/Historie_Pacjentow.jpg");

  @include breakpoint(medium) {
    height: auto;
  }
}

.historie-right {
  @include breakpoint(large) {
    padding-bottom: 100px;
  }
}

.historie-img {
  background-image: url("../assets/img/Rectangle\ 8.jpg");
  border-radius: 15px;
  // width: 240px;
  // height: 225px;
  height: 100%;
  max-width: 240px;
  min-height: 225px;
}

.historie {
  .wladze-box {
    margin-bottom: 1rem;

    @include breakpoint(large) {
      margin-bottom: 85px;
    }
  }

  .wladze-cell {
    // justify-content: flex-start;
    margin-bottom: 15px !important;

    @include breakpoint(large) {
      margin-bottom: 30px !important;
    }

    .wladze-text {
      text-align: left;

      .wladze-cell-title {
        font-size: 15px;
      }

      p {
        font-size: 14px;
        margin-bottom: 0;
        font-weight: 400;
        text-transform: none;
        color: #fff;
      }

      a {
        color: #fff;
        font-size: 11px;
        font-weight: 500;
        text-align: left;

        &:hover {
          opacity: 0.7;
        }

      }
    }
  }
}

.dzien-right {
  @extend .small-img-general;
  background-image: url("../assets/img/HAE_Day_02_Global_Walk.jpg");

  @include breakpoint(medium) {
    height: auto;
  }
}

////////////////////akt-form

.akt-form {
  input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    z-index: 10;
    width: 25px;
    height: 25px;

    &:hover {
      cursor: pointer;
    }


  }

  input[type="date"]::-webkit-inner-spin-button {
    display: none;

  }

  .calendar {
    position: absolute;
    top: 38%;
    right: 7%;
    z-index: 0;

    &:hover {
      cursor: pointer;
    }
  }

  max-width: 633px;

  .akt-title {
    font-size: 15px;
    color: #000;
    margin-bottom: 20px;

    @include breakpoint(large) {
      margin-bottom: 35px;
    }
  }


  .radio-right-box {
    @include breakpoint(medium) {
      display: flex;
      justify-content: flex-end;

    }
  }

  .radio-right {
    flex: 0 0 auto;
  }

  // .wpcf7 [type=radio] {

  // }
  .wpcf7 [type=select] {
    border-radius: 15px;
  }

  select {
    border-radius: 7px;
    border: 1px solid rgba(112, 112, 112, 0.5);
    color: rgba(112, 112, 112, 0.5);
    font-size: 13px;
  }

  .near-radio {
    font-size: 13px;
    color: rgba(112, 112, 112, 0.8);
  }

  .wpcf7-radio {

    .wpcf7-list-item,
    input {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .yes-or-no {
    .first {
      padding-right: 71px;
    }
  }

  [type='text'],
  [type='password'],
  [type='date'],
  [type='datetime'],
  [type='datetime-local'],
  [type='month'],
  [type='week'],
  [type='email'],
  [type='number'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='url'],
  [type='color'],
  textarea {
    border-radius: 7px;
    border: 1px solid rgba(112, 112, 112, 0.5);
    color: rgba(112, 112, 112, 0.5);
    font-size: 13px;

    &:placeholder {
      color: rgba(112, 112, 112, 0.5);
      font-size: 13px;
    }
  }

  .small-span {
    font-size: 9px;
    color: rgba(0, 0, 0, 0.3);
    display: block;
    margin-bottom: 7px;

    &:before {
      content: "* ";
      color: #781626;
    }
  }

  .big-span {
    margin-bottom: 10px;
    font-size: 13px;
  }

  .without-star {
    &:before {
      content: " ";

    }
  }

  .silver-a {
    color: rgba(189, 138, 19, 0.4);
    font-size: 10px;
    margin-left: 7.24px;

    &:hover {
      color: rgba(189, 138, 19, 0.8);
    }
  }

  .reg-span {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 0;
  }
}

.p-r-22 {
  @include breakpoint(medium) {
    padding-right: 12px;

  }
}

.p-l-22 {
  @include breakpoint(medium) {
    padding-left: 12px;

  }
}

.p-r-22-small {
  padding-right: 10px;

  @include breakpoint(medium) {
    padding-right: 12px;

  }
}

.p-l-22-small {
  padding-left: 10px;

  @include breakpoint(medium) {
    padding-left: 12px;

  }
}

.dzien-two {
  ul>li {
    margin-bottom: 7px;
  }
}

///////////////////wydarzenia-kalendarz

.kalendarz-section1 {
  .kalendarz-img-1 {
    background-image: url("../assets/img/Kalendarz_01.jpg");
  }

  p {
    @include breakpoint(large) {
      margin-bottom: 60px;
    }
  }
}

.kalnedarz-choose {
  margin-bottom: 2rem;

  @include breakpoint(large) {
    margin-bottom: 60px;
  }

  @include breakpoint(medium) {
    display: flex;
  }
}

.select-box {
  @include breakpoint(medium) {
    margin-right: 20px;

  }

  @media(min-width: 1200px) {
    margin-right: 50px;

  }
}

.wpcf7-select {
  background-image: url("../assets/img/Icon\ ionic-ios-arrow-down.svg");
  font-size: 15px;
  color: #9D9D9D;
  border: none;
  box-shadow: 0px 3px 40px rgba(131, 131, 131, 0.161);
  border-radius: 10px;

  @include breakpoint(large) {
    padding: 16px 32px 16px 16px;

  }

  &:hover {
    cursor: pointer;
  }

}

/////////////////wydarzenia-newsletter

.newsletter-section1 {
  .newsletter-img-1 {
    background-image: url("../assets/img/Newsletter_01.jpg");
  }

  p {
    @include breakpoint(large) {
      margin-bottom: 28px;
    }
  }

  .sign-in {
    div {
      padding-left: 10px;
      padding-right: 10px;
    }

    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 3px 20px #8B8B8B29;
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 40px;

    .button-box {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .white-button {
        margin-top: 1rem;
      }
    }

    [type="text"] {
      max-width: 200px;
      margin-bottom: 0;
      border: none;
      border-bottom: 1px solid hsla(0, 0%, 44%, 0.42);

      &::placeholder {
        color: hsla(0, 0%, 44%, 0.38);
        font-size: 12px;
      }
    }

    display: flex;

    .small-title {
      font-size: 15px;
    }
  }
}

.newsletter-last {
  .cell {
    transition: .3s ease-in-out;
    &:hover {
      opacity: 0.7;
    }
  }
  .cell {
    @media(min-width: 1024px) {
      margin-bottom: 30px;
    }
  }

  .grid-padding-x {
    @media(min-width: 1024px) {
      margin-left: -20px;
      margin-right: -20px;

      >.cell {
        padding-left: 20px;
        padding-right: 20px;
      }

    }
  }

  .small-title {
    margin-bottom: 40px;
  }

  .card {
    .card-img-my {
      height: 200px;
    }

    .card-text {
      padding: 1rem;

      p {
        font-size: 12px;
      }

      .card-title {
        color: #000;

      }
    }
  }
}


//////////////////wydarzenia-komunikaty

.komunikaty-section1 {
  .komunikaty-img-1 {
    background-image: url("../assets/img/Komunikaty_Prasowe_01.jpg");
  }

  p {
    @include breakpoint(medium) {
      margin-bottom: 50px;
    }

    @include breakpoint(large) {
      margin-bottom: 150px;
    }
  }
}

////////////////wydarzenia-konferencja


.konferencja-section1 {
  .konferencja-img-1 {
    background-image: url("../assets/img/Konferencje_HAE.jpg");
  }

}

.konferencje-item {

  .konf-single-item {
    margin-bottom: 2rem;

    @include breakpoint(medium) {
      margin-bottom: 0;
    }
  }

  .konferencja-item-left {
    @media(max-width: 639px) {
      order: -2;
    }

    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-between;

    img {
      margin-bottom: 19px;
    }

    p {
      font-size: 15px;
      line-height: 1.3;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }

      em {
        font-style: normal;
        color: $orange;
      }
    }
  }

  .konferencja-item-middle {

    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-between;

    @include breakpoint(large) {
      // padding-left: 80px;
      padding-right: 60px;

    }

    .small-title {
      padding-bottom: 1rem;

      @include breakpoint(large) {
        padding-bottom: 29px;

      }

      border-bottom: 1px solid $orange;
      margin-bottom: 1rem;

      @include breakpoint(large) {
        margin-bottom: 29px;

      }
    }

    p {
      @include breakpoint(large) {
        margin-bottom: 24px;
      }
    }
  }

}

.konferencja-item-right {
  @media(max-width: 639px) {
    order: -1;
  }

  .right-item {
    margin-bottom: 45px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    font-size: 13px;
    color: #606060;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    em {
      font-style: normal;
      font-weight: 500;
      color: #000;

    }
  }
}

.konferencje-gray-box {
  background: #FAFAFA;
  padding: 2rem 0;

  @include breakpoint(medium) {
    padding: 40px 0;
  }

  @include breakpoint(large) {
    padding: 85px 0;
  }
}


.konferencja-single-section1 {
  .konferencja-single-img-1 {
    background-image: url("../assets/img/Rectangle\ 467.jpg");

    @include breakpoint(medium) {
      height: 100%;
    }
  }

  .place-date {
    @include breakpoint(large) {
      margin-bottom: 38px;
    }

    margin-top: 21px;
    justify-content: space-between;
    max-width: 470px;

    p {
      &:first-child {
        padding-right: 20px;

      }

      font-size: 15px;
    }

    em {
      font-style: normal;
      color: #000;
    }
  }

  .konferencja-item-right {
    justify-content: space-between;
    max-width: 470px;

    .right-item {
      margin-bottom: 0;
      padding-right: 20px;

      &:last-child {
        padding-right: 0;
      }
    }
  }

}

.konferencja-gallery {
  .img-konf-gallery {
    background-image: url("../assets/img/Rectangle\ 467.jpg");
    height: 211px !important;
  }
}

.konferencja-video {
  background-image: url("../assets/img/Rectangle\ 467.jpg");
  height: 250px;

  @include breakpoint(medium) {
    height: 350px;
  }

  @include breakpoint(large) {
    height: 485px;
  }

}


.warsztaty-first {
  P {
    @include breakpoint(large) {
      padding-bottom: 70px;
    }
  }

}

.warsztaty-img-1 {
  background-image: url("../assets/img/Regionalne_Warsztaty_HAE.jpg");

  @include breakpoint(medium) {
    height: 100%;
  }
}

.warsztaty-second {
  p {
    margin-bottom: 8px;
  }

  ul>li {
    margin-bottom: 4px;
  }
}

.warsztaty-program {
  .program-box {
    margin-bottom: 1rem;

    @include breakpoint(large) {
      margin-bottom: 46px;
    }
  }

  .orange-title {
    @include breakpoint(large) {
      margin-bottom: 45px;
    }
  }

  .cell {
    display: flex;
  }

  span {
    color: #000;
    font-size: 15px;
    padding-right: 50px;
    font-style: normal;
    font-weight: 600;
    min-width: 128px;

  }

  p {
    @include breakpoint(large) {

      max-width: 283px;
    }


  }
}

.wydarzenia-where {
  overflow: hidden;
  .wydarzenia-where-left-inside {
    max-width: 393px;
  }

  .wydarzenia-where-left {
    margin-bottom: 2rem;

    @include breakpoint(medium) {
      margin-bottom: 0;
    }

    .wydarzenia-where-title {
      font-size: 34px;
      line-height: 1.3;
      padding-bottom: 22px;
      color: #fff;
      max-width: 374px;
      margin: auto;
    }

    text-align: center;
    background-image: url("../assets/img/Group\ 633.jpg");

    padding-top: 2rem;
    padding-bottom: 2rem;

    @include breakpoint(medium) {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    @include breakpoint(large) {
      padding-top: 135px;
      padding-bottom: 113px;
    }
  }

  .wydarzenia-where-right {
    justify-content: center;

    ul>li {
      margin-bottom: 4px;

      &::before {
        top: -7.5px;
      }
    }

    .small-title {
      margin-bottom: 41px;
    }
  }
}

.white-strap {
  box-shadow: 0px 3px 40px rgba(131, 131, 131, 0.161);
  border-radius: 10px;
  text-align: center;

  @include breakpoint(medium) {
    text-align: left;
    display: flex;
    justify-content: space-between;

  }

  padding: 2rem;

  @include breakpoint(large) {
    padding: 46px 97px
  }

  .small-title {
    margin-bottom: 3px;
  }

  .a-box {
    justify-content: center;
    margin-top: 2rem;

    @include breakpoint(medium) {
      margin-top: 0;
      justify-content: flex-start;
      padding-left: 20px;
    }
  }

  .orange-title {
    margin-bottom: 0;
    text-align: center;

    @include breakpoint(medium) {
      text-align: left;
    }
  }

  a {
    color: $orange;
    font-size: 23px;

    &:hover {
      opacity: 0.7;
    }
  }
}

.warsztaty-see-more {
  .form-button {
    @include breakpoint(large) {
      margin-bottom: 4rem;
    }
  }

  .small-title {
    font-size: 30px;

    @include breakpoint(large) {
      font-size: 35px;

    }

    line-height: 1.4;
  }

  .orange-title {
    @include breakpoint(medium) {
      margin-bottom: 50px;
    }
  }
}

.publikacje-first {
  p {

    margin-bottom: 0;
  }

  .publikacje-first-img {
    background-image: url("../assets/img/Publikacje_01.jpg");

    @include breakpoint(medium) {
      height: 100%;
    }

    @include breakpoint(large) {
      height: 430px;
    }
  }
}

.publikacje-second {
  .cell {
    margin-bottom: 20px;
  }

  .grid-padding-x {
    @media(min-width: 1200px) {
      margin-left: -80px;
      margin-right: -80px;

      >.cell {
        padding-left: 80px;
        padding-right: 80px;
      }

    }
  }

  img {
    width: 100%;
  }
}

.dokumenty-wydarzenia {
  .pdf-box-box {
    display: flex;
    justify-content: center;
  }

  .dokumenty-first-img {
    background-image: url("../assets/img/Przydatne_Dokumenty_01.jpg");
    background-position: right;

    @include breakpoint(medium) {
      height: 100%;
    }
  }

  P {
    margin-bottom: 0;
    padding-left: 10px;
  }
a {
  margin-bottom: 17.5px;
  &:last-child {
    margin-bottom: 0;
  }
  display: block;
  &:hover {
    opacity: 0.7;
  }
}
  // .flex {
  //   margin-bottom: 17.5px;
  // &:last-child {
  //   margin-bottom: 0;
  // }
  // }
}