* {
	outline: none;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.big-box {
    overflow: hidden;
}

body {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.position-relative {
    position: relative;
}



.height-div {
    height:1rem;
    @media screen and (min-width: 640px) {
        height:2rem;
    }
}



.transform-180 {
    transform: rotate(180deg);
}


a {
    transition: all .3s ease-in-out;
    // &:hover {
    //     opacity: 0.7;
    // }
}

.grid-container-padding {
    @media (min-width: 1200px) {
        padding: 0 5%;
    }
}

.section {
    margin-bottom: 2rem;
    @media screen and (min-width: 640px) {
        margin-bottom: 4rem;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 6rem;
    }
}


.section-height {
  height: 2rem;
    @media screen and (min-width: 640px) {
      height: 4rem;
    }
    @media screen and (min-width: 1200px) {
      height: 6rem;
    }
}

.padding-right {
    @include breakpoint(medium) {
        padding-right: 50px;
      }
      @include breakpoint(large) {
        padding-right: 100px;
      }
}

.padding-left {
    @include breakpoint(medium) {
        padding-left: 50px;
      }
      @include breakpoint(large) {
        padding-left: 100px;
      }
}

// .section-big {
//     @extend .section;
//     @media screen and (min-width: 1200px) {
//         padding-bottom: 10rem;
//     }
// }

.center {
    display: flex;
    align-items: center
}

.center-horizontal {
    display: flex;
    justify-content: center;
}


.center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.height-100 {
    @media screen and (min-width: 1360px){
        min-height: 100vh;
    }
}

.order-1 {
    @media screen and (max-width: 639px) {
        order: -1;
    }
}

.order-1-med {
    @media screen and (max-width: 979px) {
        order: -1;
    }
}

.flex {
    display: flex;
}
.flex-big {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(medium) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

    }
}

.break {
   height: 2.5rem;
}

.os-padding-left {
    @include breakpoint(medium) {
      padding-left: 20px;
   }
    @include breakpoint(large) {
      padding-left: 50px;
  
    }
  }
  
  .os-padding-right {
    @include breakpoint(medium) {
      padding-right: 20px;
   }
    @include breakpoint(large) {
      padding-right: 50px;
  
    }
  }

.border-radius {
    border-radius: 15px;
}  

.mb-2-small {
    margin-bottom: 2rem;
    @include breakpoint(medium) {
        margin-bottom: 0;
    }
}

.img-small {
    @media(max-width: 639px) {
        height: 250px;
        margin-bottom: 2rem;
    }
}

.img-source {
    font-size: 10px;
    color: rgba(198, 198, 198, 0.66);
    margin-top: 5px;
  }

.mb-21 {
margin-bottom: 21px;
}


.position-relative {
    position: relative;
}
.position-absolute {
    position:absolute;
}

.full-width {
    width: 100%;
}

.grid-container-left {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    @media print, screen and (min-width: 40em){
        padding-left: 0.9375rem;
        padding-right: 0;
    }
    // // display: flex;
    // // flex-direction: column;
    // // align-items: flex-end;
    // max-width: 50rem;
}
.grid-container-right {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    @media print, screen and (min-width: 40em){
        padding-right: 0.9375rem;
        padding-left: 0;
    }
    // // display: flex;
    // // flex-direction: column;
    // // align-items: flex-end;
    // max-width: 50rem;
}

@media(min-width: 1130px) {
    .stretch-right {
        padding-right: calc( ( 100vw - 1130px) / 2 + 0.9375rem );
        }
    .stretch-left {
        padding-left: calc( ( 100vw - 1130px) / 2 + 0.9375rem );
    }

}



.no-margin-bottom {
    margin-bottom: 0 !important;
}


.link-a-opacity {
    p {
        transition: .3s ease-in-out;
        &:hover {
            opacity: 0.7;
        }

    }
}

.add-opacity {
    opacity: 0.7;
}










