// @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap&subset=latin-ext');

$blue-B5: #2F88B5;
$blue: #296288;
$gray-70: #707070;
$orange: #E95A00;
$red: #DE261C;

* {
    font-family: 'Poppins';
  
}

.body {
    font-family: 'Poppins';
}

h1,h2,h3,h4,h5,h6, p {
    font-family: 'Poppins';
}

ul>li {
    color: $gray-70;
}

p , ul>li{
    line-height: 1.5;
    font-size: 12px;
    @media screen and (min-width: 640px) {
        font-size: 13px;
     }

    color: $gray-70;
}

.big-title {
    color: #000;
    font-size: 30px;
    margin-bottom: 2rem;
    line-height: 1.3;
    em {
        color: $orange;
        font-style: normal;
    }
}

.small-title {
    color: black;
    line-height: 1.2;
    font-size: 23px;
    margin-bottom: 10px;
    em {
        color: $orange;
        font-style: normal;
    }
    @media screen and (min-width: 980px) {
        margin-bottom: 20px
     }
}

.gray-title {
    font-size: 20px;
    color: $gray-70;
    margin-bottom: 10px;
    @media screen and (min-width: 980px) {
        margin-bottom: 20px
     }
}

.orange-title {
  
    font-size: 15px;
    color: #E95A00;
    text-align: left;
    margin-bottom: 21px;
}
.orange-upper-title {
    @extend .orange-title;
    text-transform: uppercase;
}

.white-title-in-cell {
    color: #fff;
    font-size: 19px;
    @media(min-width: 800px) {
        font-size: 25px;

    }
}

.strap-title {
    font-size: 30px;
    @media(min-width:980px) {
        font-size: 35px;

    }
    @media(min-width:1360px) {
        font-size: 40px;

    }
    em {
        font-style: normal;
        color: $orange;
    }
}

#breadcrumbs {
    padding-top:2rem;
    margin-bottom: 0;
    font-size: 10px;
    color: rgba(198, 198, 198, 0.66);
    // text-transform: capitalize;
    a {
        color:rgba(198, 198, 198, 0.66);
        &:hover {
            opacity: 0.7;
        }
        // &:first-child {
        //     text-transform: capitalize;
        // }
    }
}

.mb-62 {
    margin-bottom: 62px;
}
.mb-21 {
    margin-bottom: 21px;
}

.mb-50 {
    margin-bottom: 2rem;
    @media(min-width: 980px) {
        margin-bottom: 50px;
    }
}

.myButton {
    display: inline-block;
  
    &::first-letter {
        text-transform: capitalize;
    }
 
    font-size: 12px;
    @media screen and (min-width: 980px){
        font-size: 13px;
    }
    @media screen and (min-width: 1360px){
        font-size: 13px;
    }
    padding: 9px 30px;
    border-radius: 100px;
    transition: .3s ease-in-out;
    // margin-bottom: 0;
    &:hover {
        cursor: pointer;
    }
}

.form-button {
    @extend .myButton;
    background-color: #E95A00 !important;
    color: #fff !important;
    border-radius: 20px;
    margin-top: 1rem;
    font-size: 13px;
    border: 1px solid #E95A00 !important;
    &:hover {
        background-color: transparent !important;
        color: #E95A00 !important;
    }
}


.blue-button {
    @extend .myButton;
    background-color:#2F88B5;
    color: #fff;
    border: 1px solid #2F88B5;
    &:hover {
       background-color: #fff;
       color: #2F88B5;
    }
}

.white-button {
    @extend .myButton;
    background-color:transparent;
    color: $orange;
    border: 1px solid $orange;
    &:hover {
       background-color:$orange;
       color: #fff;
    }
}

.white-button-border {
    @extend .myButton;
    background-color:transparent;
    color: #fff;
    border: 1px solid #fff;
    &:hover {
       background-color:#fff;
       color: $orange;
    }
}
