<footer class="footer poistion-relative">
    <div class="background-footer poistion-abolute">
    </div>
      <div class="grid-container">
        <div class="grid-x">
          <div class="cell medium-6 footer-left">
            <div class="grid-x">
              <!-- <div class="cell logo-box"><img src="assets/img/LOGO.png" alt=""></div> -->
              <div class="cell small-6 footer-cell">
                <div>
                  <h4>kontakt</h4>
                  <div class="break-footer">

                    <p><a href="">info@piekniepuchne.org</a></p> 
                  </div>
                 <p><a href="">www.piekniepuchne.org</a></p> 
                  <p><a href="">www.hae.org.pl</a></p>

                </div>
              </div>
              <div class="cell small-6 footer-cell">
                <div>
                  <h4>Adres</h4>
                  <p>ul. Śniadeckich 10</p>
                  <p>31-531 Kraków</p>
                  <p>Polska</p>

                </div>
              </div>
            </div>
          </div>
          <div class="cell medium-6">
            <div class="footer-form">

              <div class="grid-container">
                  <h2 class="text-left form-title">Formularz kontaktowy</h2>

                  <div role="form" class="wpcf7" id="wpcf7-f127-o1" lang="pl-PL" dir="ltr">
                      <div class="screen-reader-response"></div>
                      <form action="/aktualnosci/#wpcf7-f127-o1" method="post" class="wpcf7-form"
                          novalidate="novalidate">
                          <div style="display: none;">
                              <input type="hidden" name="_wpcf7" value="127">
                              <input type="hidden" name="_wpcf7_version" value="5.1.6">
                              <input type="hidden" name="_wpcf7_locale" value="pl_PL">
                              <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f127-o1">
                              <input type="hidden" name="_wpcf7_container_post" value="0">
                              <input type="hidden" name="_source_type" value="">
                              <input type="hidden" name="_source_id" value="">
                              <input type="hidden" name="_source_name" value="">
                          </div>
                          <p>
                            <div class="grid-x">
                              <div class="cell small-6 small-6-1">
                                <span class="wpcf7-form-control-wrap your-name"><input type="text"
                                  name="your-name" value="" size="40"
                                  class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                  aria-required="true" aria-invalid="false"
                                  placeholder="imię"></span>
                              </div>
                              <div class="cell small-6 small-6-2">
                                <span class="wpcf7-form-control-wrap your-name"><input type="text"
                                  name="your-name" value="" size="40"
                                  class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                  aria-required="true" aria-invalid="false"
                                  placeholder="nazwisko"></span>   
                              </div>
                            </div>
                            <div class="grid-x ">
                              <div class="cell small-6 small-6-1">
                                <span class="wpcf7-form-control-wrap your-email"><input type="email"
                                  name="your-email" value="" size="40"
                                  class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                  aria-required="true" aria-invalid="false"
                                  placeholder="e-mail"></span>
                              </div>
                              <div class="cell small-6 small-6-2">
                                <span class="wpcf7-form-control-wrap your-phone"><input type="tel"
                                  name="your-phone" value="" size="40"
                                  class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
                                  aria-required="true" aria-invalid="false"
                                  placeholder="telefon"></span>
                              </div>
                            </div>
                                    <span class="wpcf7-form-control-wrap your-message"><textarea
                                      name="your-message" cols="40" rows="2"
                                      class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"
                                      placeholder="wiadomość"></textarea></span><br>
                              <span class="wpcf7-form-control-wrap polityka-prywatnosci"><span
                                      class="wpcf7-form-control wpcf7-acceptance"><span
                                          class="wpcf7-list-item"><label><input type="checkbox"
                                                  name="polityka-prywatnosci" value="1"
                                                  aria-invalid="false"><span
                                                  class="wpcf7-list-item-label">Zgadzam się na
                                                  przetwarzanie
                                                  moich danych osobowych przez
                                                  SALVIS EXPERT oraz podmioty z nią powiązane w celach
                                                  marketingowych.</span></label></span></span></span><br>
                              <!-- <span class="wpcf7-form-control-wrap newsletter"><span class="wpcf7-form-control wpcf7-acceptance optional"><span class="wpcf7-list-item"><label><input type="checkbox" name="newsletter" value="1" aria-invalid="false"><span class="wpcf7-list-item-label">Wyrażam zgodę na otrzymywanie materiałów marketingowych.</span></label></span></span></span></p> -->
                              <div class="text-right">
                                <input type="submit" value="Wyślij"
                                      class="wpcf7-form-control wpcf7-submit form-button"
                                      disabled=""><span class="ajax-loader"></span>
                                    </div>
                              <div class="wpcf7-response-output wpcf7-display-none"></div>
                      </form>
                  </div>
              </div>

          </div>
         
          </div>
        </div>

      </div>
      <div class="footer-rodo">
        <div class="grid-container">
          <div class="grid-x">
            <cell class="cell medium-3"><a href="">Polityka prywatności</a></cell>
            <cell class="cell medium-3"><a href="">Projektowanie stron hauerpower.com</a></cell>
          </div>

        </div>
      </div>
<!-- 
    </div> -->
  </footer>