<header id="navbar" class="header">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell small-2 large-3 logo-box center-column">
                <div class="flex center">
                    <a href="">
                        <img class="logo-small" src="assets/img/LOGO MENU.svg" alt="">
                        <img class="logo-big" src="assets/img/Bez nazwy-1.svg" alt="">

                    </a>
                    <a href="">      <img class="nie-puchne" src="assets/img//Nie_Puchne_logo_ORANGE.png" alt=""></a>
                </div>
            </div>
            <div class="cell small-10 large-9 center-column">
                <div class="cell menu-wrap shrink">
                  <a id="hamburger" href="#"><span></span></a>
                  <ul class="main-menu">
                      <li>
                          <a href="#">Home</a>
                          <ul class="sub-menu">
                              <li><a href="#">Kontakt</a></li>
                              <li><a href="#">Przekaż Darowiznę</a></li>
                              <li><a href="#">Podaruj 1% (nieaktywne)</a></li>
                              <li><a href="#">Dołącz do Nas</a></li>
                              <li><a href="#">Nowości</a></li>
                              <li><a href="#">COVID-19</a></li>
                              <li><a href="#">Polityka Prywatnośći</a></li>
                              <li><a href="#">RODO</a></li>
                              <li><a href="#">Inne Regulaminy</a></li>
                          </ul>
                      </li>
                      <li>
                          <a href="#">HAE</a>
                          <ul class="sub-menu">
                              <li><a href="#">Kontakt</a></li>
                              <li><a href="#">Przekaż Darowiznę</a></li>
                              <li><a href="#">Podaruj 1% (nieaktywne)</a></li>
                              <li><a href="#">Dołącz do Nas</a></li>
                              <li><a href="#">Nowości</a></li>
                              <li><a href="#">COVID-19</a></li>
                              <li><a href="#">Polityka Prywatnośći</a></li>
                              <li><a href="#">RODO</a></li>
                              <li><a href="#">Inne Regulaminy</a></li>
                          </ul>
                      </li>
                      <li>
                          <a href="#">Pokonaj HAE</a>
                          <ul class="sub-menu">
                              <li><a href="#">Kontakt</a></li>
                              <li><a href="#">Przekaż Darowiznę</a></li>
                              <li><a href="#">Podaruj 1% (nieaktywne)</a></li>
                              <li><a href="#">Dołącz do Nas</a></li>
                              <li><a href="#">Nowości</a></li>
                              <li><a href="#">COVID-19</a></li>
                              <li><a href="#">Polityka Prywatnośći</a></li>
                              <li><a href="#">RODO</a></li>
                              <li><a href="#">Inne Regulaminy</a></li>
                          </ul>
                      </li>
                      <li>
                          <a href="#">O nas</a>
                          <ul class="sub-menu">
                              <li><a href="#">Kontakt</a></li>
                              <li><a href="#">Przekaż Darowiznę</a></li>
                              <li><a href="#">Podaruj 1% (nieaktywne)</a></li>
                              <li><a href="#">Dołącz do Nas</a></li>
                              <li><a href="#">Nowości</a></li>
                              <li><a href="#">COVID-19</a></li>
                              <li><a href="#">Polityka Prywatnośći</a></li>
                              <li><a href="#">RODO</a></li>
                              <li><a href="#">Inne Regulaminy</a></li>
                          </ul>
                      </li>
                      <li>
                          <a href="#">Twoja aktywność</a>
                          <ul class="sub-menu">
                              <li><a href="#">Kontakt</a></li>
                              <li><a href="#">Przekaż Darowiznę</a></li>
                              <li><a href="#">Podaruj 1% (nieaktywne)</a></li>
                              <li><a href="#">Dołącz do Nas</a></li>
                              <li><a href="#">Nowości</a></li>
                              <li><a href="#">COVID-19</a></li>
                              <li><a href="#">Polityka Prywatnośći</a></li>
                              <li><a href="#">RODO</a></li>
                              <li><a href="#">Inne Regulaminy</a></li>
                          </ul>
                      </li>
                      <li>
                          <a href="#">Nowości i wydarzenia</a>
                          <ul class="sub-menu">
                              <li><a href="#">Kontakt</a></li>
                              <li><a href="#">Przekaż Darowiznę</a></li>
                              <li><a href="#">Podaruj 1% (nieaktywne)</a></li>
                              <li><a href="#">Dołącz do Nas</a></li>
                              <li><a href="#">Nowości</a></li>
                              <li><a href="#">COVID-19</a></li>
                              <li><a href="#">Polityka Prywatnośći</a></li>
                              <li><a href="#">RODO</a></li>
                              <li><a href="#">Inne Regulaminy</a></li>
                          </ul>
                      </li>
                      <li>
                          <a href="#">Kontakt</a>
                          <ul class="sub-menu">
                              <!-- <li><a href="#">Współpraca</a></li> -->
                          </ul>
                      </li>
                  </ul>
              
                </div>

            </div>
        </div>

    </div>
  </header>